
node_modules/

logs/
*.log
npm-debug.log*
yarn-debug.log*

.env
.env.development
.env.production
.env.test

build/
dist/
.next/
out/

coverage/
.nyc_output/

.npm/
.eslintcache
.node_repl_history
.cache/
.parcel-cache/

.vscode/